<%- include("../_layouts/adminheader") %>
<h2 class="page-title">Add page</h2> 
<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br><br>

<form method="post" action="/admin/pages/add-page">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control"  placeholder="Title" name="title" value="<%= title %>" autofocus  autocomplete="off">
    </div>

    <div class="form-group">
        <label for="">Slug</label>
        <input type="text" class="form-control"  placeholder="Slug" name="slug" value="<%= slug %>" autocomplete="off">
    </div>

    <div class="form-group">
        <label for="">Content</label>
        <textarea name="content" placeholder="content" class="form-control" cols="30" rows="10" ><%= content %></textarea>
    </div>

    <button class="btn btn-default">Submit</button>
</form>
<%- include("../_layouts/adminfooter") %>